In [2]:
import numpy as np
import pandas as pd

In [10]:
filename = '2020.10.07.002.csv'
data = pd.read_csv(filename, delimiter = ',')

data

,accuracy,capturedAt,convergenceStatus,latitude,longitude,planterCheckInId,treeUuid
0,3.216,1602111658407,NaN,47.068033,-122.938378,1,NaN
1,3.216,1602111659402,NaN,47.068033,-122.938378,1,NaN
2,3.216,1602111660402,NaN,47.068033,-122.938378,1,NaN
3,3.216,1602111662316,NaN,47.068033,-122.938378,1,NaN
4,3.216,1602111664235,NaN,47.068033,-122.938378,1,NaN
...,...,...,...,...,...,...,...
409,3.216,1602112132408,NaN,47.068010,-122.938360,1,NaN
410,3.216,1602112133419,NaN,47.068008,-122.938364,1,NaN
411,3.216,1602112134419,NaN,47.068008,-122.938370,1,NaN
412,3.216,1602112135414,NaN,47.068012,-122.938374,1,NaN
413,3.216,1602112136412,NaN,47.068020,-122.938373,1,NaN

In [11]:
convergedRows = data['convergenceStatus'] == 'CONVERGED'
data[convergedRows]

,accuracy,capturedAt,convergenceStatus,latitude,longitude,planterCheckInId,treeUuid
13,3.216,1602111672426,CONVERGED,47.068035,-122.938384,1,03ebc748-662c-41b2-a3c5-93b533f0f9b9
14,3.216,1602111673447,CONVERGED,47.068035,-122.938384,1,03ebc748-662c-41b2-a3c5-93b533f0f9b9
15,3.216,1602111674402,CONVERGED,47.068035,-122.938384,1,03ebc748-662c-41b2-a3c5-93b533f0f9b9
25,3.216,1602111685425,CONVERGED,47.068009,-122.938367,1,f859d211-a2ee-4e1e-9017-e1e21a036ee5
26,3.216,1602111686532,CONVERGED,47.068011,-122.938367,1,f859d211-a2ee-4e1e-9017-e1e21a036ee5
...,...,...,...,...,...,...,...
356,3.216,1602112074424,CONVERGED,47.067992,-122.938176,1,163036c4-86bc-49d6-9eb8-c531fdad7890
357,3.216,1602112075460,CONVERGED,47.067989,-122.938175,1,163036c4-86bc-49d6-9eb8-c531fdad7890
358,3.216,1602112076407,CONVERGED,47.067988,-122.938174,1,163036c4-86bc-49d6-9eb8-c531fdad7890
365,3.216,1602112086416,CONVERGED,47.068016,-122.938197,1,6a7a5b9c-b11f-4451-9d51-3c622249d87d
366,3.216,1602112087429,CONVERGED,47.068015,-122.938198,1,6a7a5b9c-b11f-4451-9d51-3c622249d87d

In [12]:
orig = list(convergedRows)
rows = list(convergedRows)

for i in range(0, len(convergedRows) - 1):
    if convergedRows[i] == True and convergedRows[i+1] == False:
        rows[i] = True
    else:
        rows[i] = False

#rows
data[rows]

,accuracy,capturedAt,convergenceStatus,latitude,longitude,planterCheckInId,treeUuid
15,3.216,1602111674402,CONVERGED,47.068035,-122.938384,1,03ebc748-662c-41b2-a3c5-93b533f0f9b9
27,3.216,1602111687407,CONVERGED,47.068012,-122.938367,1,f859d211-a2ee-4e1e-9017-e1e21a036ee5
39,3.216,1602111699518,CONVERGED,47.067974,-122.938366,1,452cc632-047f-47bc-8d8a-6ab68c8f10e8
47,3.216,1602111708404,CONVERGED,47.067940,-122.938359,1,e1f29969-738c-47b1-9897-5f5fe7353fcf
57,3.216,1602111719402,CONVERGED,47.067930,-122.938371,1,001bf597-2a65-4766-bdef-5252192a70f3
67,3.216,1602111730432,CONVERGED,47.067898,-122.938388,1,01ce803e-21bc-49da-a2dd-71221c4e2cf4
77,3.216,1602111741406,CONVERGED,47.067886,-122.938353,1,f342ba3e-c09d-4a71-a05d-d9cd532359c3
87,3.216,1602111752432,CONVERGED,47.067916,-122.938353,1,ef886e79-9151-4e8e-8ef2-88b30bfee868
98,3.216,1602111765609,CONVERGED,47.067941,-122.938338,1,25d4e856-fce4-4e3d-bbdd-dac928aebbff
109,3.216,1602111777412,CONVERGED,47.067969,-122.938343,1,f6b86065-72b4-4ed6-a038-1f600578c62a
120,3.216,1602111789405,CONVERGED,47.067997,-122.938347,1,601c3584-85da-4045-87c4-75ba5c2dae8d
129,3.216,1602111800397,CONVERGED,47.068020,-122.938347,1,26a86383-09cc-4402-aaf2-e32cc2c60fb0
140,3.216,1602111813409,CONVERGED,47.068033,-122.938307,1,b33c14c9-bf1d-4096-8839-d953f9df3a66
148,3.216,1602111823397,CONVERGED,47.067996,-122.938292,1,928e00da-f3bd-416a-978c-ec9561b85248
157,3.216,1602111834405,CONVERGED,47.067971,-122.938284,1,2a009487-48f8-4ee2-abed-c6781e9389e2
169,3.216,1602111848411,CONVERGED,47.067934,-122.938291,1,1ac5d993-690f-4eec-84b6-76460b85e832
185,3.216,1602111865427,CONVERGED,47.067909,-122.938294,1,19878247-bdb7-4c92-8d5f-09466275e4ef
194,3.216,1602111876406,CONVERGED,47.067866,-122.938299,1,8b89b744-885d-4706-88b4-c1ec57f81c6e
203,3.216,1602111887534,CONVERGED,47.067873,-122.938253,1,7808cef3-fde2-48fb-8c95-e1c173043742
211,3.216,1602111897406,CONVERGED,47.067899,-122.938251,1,66809250-ed1b-42d7-88b5-19a12c893731
221,3.216,1602111908419,CONVERGED,47.067932,-122.938256,1,31b9308a-79ed-4aa7-baf9-033a5254ae9a
230,3.216,1602111919405,CONVERGED,47.067957,-122.938247,1,a9f724f4-6237-4045-8a77-11a3d5193fc1
239,3.216,1602111930405,CONVERGED,47.067984,-122.938254,1,111ce905-0bd6-4509-a04c-2f652213a846
248,3.216,1602111941526,CONVERGED,47.068024,-122.938269,1,fca4964e-dbe9-4096-a1d6-051c89e1454f
256,3.216,1602111951403,CONVERGED,47.068016,-122.938226,1,1bde9880-e50c-4344-afc1-830f304327d0
267,3.216,1602111964405,CONVERGED,47.067996,-122.938224,1,395900a1-13b2-4ff7-af29-54787ab11086
276,3.216,1602111975412,CONVERGED,47.067971,-122.938219,1,c8214171-5c52-4c54-b16e-7fd6539134e8
285,3.216,1602111986410,CONVERGED,47.067957,-122.938217,1,65c9183c-4083-4741-a4e3-861de4588488
294,3.216,1602111997412,CONVERGED,47.067929,-122.938206,1,3adc04b5-8dd3-4931-b798-0915bfb8ffc7
304,3.216,1602112009406,CONVERGED,47.067881,-122.938203,1,fb9cba5e-55f4-423e-83b6-06f2ade98b0e
323,3.216,1602112030402,CONVERGED,47.067877,-122.938189,1,a2822e72-594f-4d97-a314-8563d4cfe7ac
332,3.216,1602112041426,CONVERGED,47.067910,-122.938187,1,29d8b467-3196-42c2-bfbb-0a1f4341e964
340,3.216,1602112052403,CONVERGED,47.067945,-122.938193,1,02f0964f-86aa-4487-90dc-e5192fa5a564
348,3.216,1602112063403,CONVERGED,47.067972,-122.938179,1,954e3fb4-ec32-40ca-9948-e01221174ae1
358,3.216,1602112076407,CONVERGED,47.067988,-122.938174,1,163036c4-86bc-49d6-9eb8-c531fdad7890
366,3.216,1602112087429,CONVERGED,47.068015,-122.938198,1,6a7a5b9c-b11f-4451-9d51-3c622249d87d

In [13]:
data[rows].to_csv('points_'+filename)